body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-color: #F5E8DD;
    /* background-image: url('bg.png'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    text-align: center;
}

.navbar-custom {
    background-color: #B5C0D0;
}

.container {
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.candidates-details {
    background-color: #CCD3CA;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

h1 {
    text-align: center;
    color: #FF7F11;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #1658aa;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #134385;
}