body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-color: #F5E8DD;
    /* background-image: url('bg.png'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    text-align: center;
}

.navbar-custom {
    background-color: #B5C0D0;
    width: 100%;
}

.container {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

p {
    color: black;
}

.key-features-container {
    background-color: #CCD3CA;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: 2px solid #1658aa;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: #1658aa;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}

button:hover {
    background-color: #1658aa;
    color: white;
}